In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("yarn").config('spark.executor.instances','100').appName("chiang_ct").getOrCreate()

In [8]:
%time df_cross= spark.read.csv("/user/spark/share/output/table1/cross_all",header=True)

CPU times: user 2.28 ms, sys: 447 Âµs, total: 2.73 ms
Wall time: 3.95 s

In [5]:
df_merge = spark.read.csv("/user/spark/share/output/merge_nc",header=True)

## fill na

In [10]:
df_cross.columns

['user_cate', 'pv', 'cart', 'fav', 'buy']

In [ ]:
from pyspark.sql.functions import isnull

In [9]:
for col in df_cross:
    print(df_cross.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user_cate'>
727585 -----> Column<b'pv'>
48981068 -----> Column<b'cart'>
52764629 -----> Column<b'fav'>
51300144 -----> Column<b'buy'>

In [11]:
df_cross = df_cross.fillna("0")

In [12]:
for col in df_cross:
    print(df_cross.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user_cate'>
0 -----> Column<b'pv'>
0 -----> Column<b'cart'>
0 -----> Column<b'fav'>
0 -----> Column<b'buy'>

In [20]:
df_cross.count()

57259092

## join cross with merge

In [19]:
df_cross.columns

['user_cate_c', 'pv', 'cart', 'fav', 'buy']

In [18]:
df_cross = df_cross.selectExpr('user_cate as user_cate_c', 'pv', 'cart', 'fav', 'buy')

In [21]:
table1 = df_merge.join(df_cross,(df_merge.user_cate == df_cross.user_cate_c) ,'left_outer')

In [22]:
table1.count()

26557961

In [23]:
for col in table1:
    print(table1.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user'>
0 -----> Column<b'time_stamp'>
0 -----> Column<b'adgroup_id'>
0 -----> Column<b'pid'>
0 -----> Column<b'clk'>
0 -----> Column<b'cate_id'>
0 -----> Column<b'campaign_id'>
0 -----> Column<b'customer'>
0 -----> Column<b'brand'>
0 -----> Column<b'price'>
1528526 -----> Column<b'cms_segid'>
1528526 -----> Column<b'cms_group_id'>
1528526 -----> Column<b'final_gender_code'>
1528526 -----> Column<b'age_level'>
14552798 -----> Column<b'pvalue_level'>
1528526 -----> Column<b'shopping_level'>
1528526 -----> Column<b'occupation'>
8224829 -----> Column<b'new_user_class_level'>
0 -----> Column<b'user_cate'>
1141355 -----> Column<b'user_cate_c'>
1141355 -----> Column<b'pv'>
1141355 -----> Column<b'cart'>
1141355 -----> Column<b'fav'>
1141355 -----> Column<b'buy'>

In [25]:
table1.columns

['user',
 'time_stamp',
 'adgroup_id',
 'pid',
 'clk',
 'cate_id',
 'campaign_id',
 'customer',
 'brand',
 'price',
 'cms_segid',
 'cms_group_id',
 'final_gender_code',
 'age_level',
 'pvalue_level',
 'shopping_level',
 'occupation',
 'new_user_class_level',
 'user_cate',
 'user_cate_c',
 'pv',
 'cart',
 'fav',
 'buy']

In [26]:
table1.show()

+-------+----------+----------+-----------+---+-------+-----------+--------+------+------+---------+------------+-----------------+---------+------------+--------------+----------+--------------------+-------------+-------------+----+----+----+----+
|   user|time_stamp|adgroup_id|        pid|clk|cate_id|campaign_id|customer| brand| price|cms_segid|cms_group_id|final_gender_code|age_level|pvalue_level|shopping_level|occupation|new_user_class_level|    user_cate|  user_cate_c|  pv|cart| fav| buy|
+-------+----------+----------+-----------+---+-------+-----------+--------+------+------+---------+------------+-----------------+---------+------------+--------------+----------+--------------------+-------------+-------------+----+----+----+----+
|1000080|1494500915|    282550|430539_1007|  1|  10965|     240785|  130530|306014| 130.0|        0|           3|                2|        3|           1|             3|         0|                null|1000080_10965|1000080_10965|  10|   0|   0|   0|
|1000124|1494155625|     85419|430548_1007|  0|   7340|      86978|   30214| 95618|   2.4|        7|           2|                2|        2|           1|             3|         0|                   2| 1000124_7340|         null|null|null|null|null|
|1000139|1494396156|    183792|430548_1007|  0|   5327|     268362|  227727|201909| 208.0|        0|           8|                1|        2|           2|             3|         0|                null| 1000139_5327|         null|null|null|null|null|
|1000139|1494396156|    238938|430548_1007|  0|   5327|     180806|  104672|236224| 350.0|        0|           8|                1|        2|           2|             3|         0|                null| 1000139_5327|         null|null|null|null|null|
|1000589|1494130576|    353284|430548_1007|  1|  11915|     334705|  249529|404010|  38.0|        6|           2|                2|        2|           2|             2|         0|                   2|1000589_11915|1000589_11915|   2|   0|   0|   0|
|1000059|1494613216|      6027|430548_1007|  0|   2378|     390541|   44698| 62889|  49.0|       64|           9|                1|        3|           1|             3|         1|                   2| 1000059_2378| 1000059_2378|   1|   0|   0|   0|
|1000537|1494646508|     76973|430539_1007|  0|   9687|     148846|  132905|255169|7960.0|        0|           4|                2|        4|        null|             3|         0|                   2| 1000537_9687| 1000537_9687|  17|   0|   0|   0|
|1000537|1494470142|     76973|430539_1007|  0|   9687|     148846|  132905|255169|7960.0|        0|           4|                2|        4|        null|             3|         0|                   2| 1000537_9687| 1000537_9687|  17|   0|   0|   0|
|1000798|1494690276|    844536|430548_1007|  0|   4280|      60271|   96831|222147| 276.0|       16|           3|                2|        3|           1|             3|         0|                   2| 1000798_4280| 1000798_4280|   8|   0|   0|   0|
|1000291|1494199792|    638088|430548_1007|  0|   4520|      79837|  144016|447105| 135.0|        0|           2|                2|        2|        null|             3|         0|                   4| 1000291_4520| 1000291_4520|  53|   2|   0|   0|
|1000291|1494204518|    689941|430548_1007|  0|   4520|      47897|  129865|  NULL|  20.0|        0|           2|                2|        2|        null|             3|         0|                   4| 1000291_4520| 1000291_4520|  53|   2|   0|   0|
|1000291|1494204518|    694418|430548_1007|  0|   4520|     329536|  168529|143597|  29.0|        0|           2|                2|        2|        null|             3|         0|                   4| 1000291_4520| 1000291_4520|  53|   2|   0|   0|
|1001507|1494195549|    358722|430548_1007|  0|   9186|     289653|   97796|423070| 588.0|        0|           5|                2|        5|        null|             2|         0|                   2| 1001507_9186| 1001507_9186|  11|   0|   1|   0|
|1001507|1494654876|    337521|430548_1007|  0|   9186|     182038|   26833| 30759| 648.0|        0|           5|                2|        5|        null|             2|         0|                   2| 1001507_9186| 1001507_9186|  11|   0|   1|   0|
|1000124|1494309881|    650847|430548_1007|  0|   6261|      66836|   15140|318890|124.98|        7|           2|                2|        2|           1|             3|         0|                   2| 1000124_6261| 1000124_6261|  12|   0|   0|   0|
| 100003|1494254066|    358208|430548_1007|  0|   4516|     329170|  239734|376749|   7.0|        0|           2|                2|        2|        null|             3|         0|                   2|  100003_4516|  100003_4516|   4|   1|   0|   0|
| 100003|1494254066|    582316|430548_1007|  0|   4516|     101926|  169916|  NULL|  32.0|        0|           2|                2|        2|        null|             3|         0|                   2|  100003_4516|  100003_4516|   4|   1|   0|   0|
|1000794|1494158054|    125662|430548_1007|  0|   4617|     142994|  118387|425589| 255.0|       81|          10|                1|        4|           2|             3|         0|                   4| 1000794_4617| 1000794_4617|   9|   0|   0|   0|
|1000150|1494339723|    325667|430548_1007|  0|   6551|     296972|  142060|224985|  39.8|     null|        null|             null|     null|        null|          null|      null|                null| 1000150_6551| 1000150_6551|  15|   0|   0|   0|
|1000112|1494376445|     87027|430548_1007|  0|  10933|      19261|    4019|333696|  10.6|     null|        null|             null|     null|        null|          null|      null|                null|1000112_10933|         null|null|null|null|null|
+-------+----------+----------+-----------+---+-------+-----------+--------+------+------+---------+------------+-----------------+---------+------------+--------------+----------+--------------------+-------------+-------------+----+----+----+----+
only showing top 20 rows

In [28]:
cross = ['pv', 'cart', 'fav', 'buy']
table1_f = table1
for col in cross:
    table1_f = table1_f.fillna({col:0})

In [29]:
for col in table1_f:
    print(table1_f.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user'>
0 -----> Column<b'time_stamp'>
0 -----> Column<b'adgroup_id'>
0 -----> Column<b'pid'>
0 -----> Column<b'clk'>
0 -----> Column<b'cate_id'>
0 -----> Column<b'campaign_id'>
0 -----> Column<b'customer'>
0 -----> Column<b'brand'>
0 -----> Column<b'price'>
1528526 -----> Column<b'cms_segid'>
1528526 -----> Column<b'cms_group_id'>
1528526 -----> Column<b'final_gender_code'>
1528526 -----> Column<b'age_level'>
14552798 -----> Column<b'pvalue_level'>
1528526 -----> Column<b'shopping_level'>
1528526 -----> Column<b'occupation'>
8224829 -----> Column<b'new_user_class_level'>
0 -----> Column<b'user_cate'>
1141355 -----> Column<b'user_cate_c'>
0 -----> Column<b'pv'>
0 -----> Column<b'cart'>
0 -----> Column<b'fav'>
0 -----> Column<b'buy'>

In [30]:
table1_f = table1_f.fillna('999999999')

In [47]:
table1_f.filter(table1_f.brand=='NULL').count()  ##just checking

8291694

In [33]:
table1_f = table1_f.drop('user_cate_c')

In [44]:
table1 = table1.drop('user_cate_c')

In [35]:
table1_f.columns

['user',
 'time_stamp',
 'adgroup_id',
 'pid',
 'clk',
 'cate_id',
 'campaign_id',
 'customer',
 'brand',
 'price',
 'cms_segid',
 'cms_group_id',
 'final_gender_code',
 'age_level',
 'pvalue_level',
 'shopping_level',
 'occupation',
 'new_user_class_level',
 'user_cate',
 'pv',
 'cart',
 'fav',
 'buy']

In [36]:
for col in table1_f:
    print(table1_f.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user'>
0 -----> Column<b'time_stamp'>
0 -----> Column<b'adgroup_id'>
0 -----> Column<b'pid'>
0 -----> Column<b'clk'>
0 -----> Column<b'cate_id'>
0 -----> Column<b'campaign_id'>
0 -----> Column<b'customer'>
0 -----> Column<b'brand'>
0 -----> Column<b'price'>
0 -----> Column<b'cms_segid'>
0 -----> Column<b'cms_group_id'>
0 -----> Column<b'final_gender_code'>
0 -----> Column<b'age_level'>
0 -----> Column<b'pvalue_level'>
0 -----> Column<b'shopping_level'>
0 -----> Column<b'occupation'>
0 -----> Column<b'new_user_class_level'>
0 -----> Column<b'user_cate'>
0 -----> Column<b'pv'>
0 -----> Column<b'cart'>
0 -----> Column<b'fav'>
0 -----> Column<b'buy'>

In [45]:
%time table1.write.csv("hdfs:///user/spark/share/output/table1/table1",header="true")

CPU times: user 8.51 ms, sys: 7.5 ms, total: 16 ms
Wall time: 56.4 s

In [37]:
%time table1_f.write.csv("hdfs:///user/spark/share/output/table1/table1_f",header="true")

CPU times: user 10.2 ms, sys: 0 ns, total: 10.2 ms
Wall time: 1min 4s