In [57]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnull

In [2]:
spark = SparkSession.builder.master("yarn").config('spark.executor.instances','100').appName("chiang").getOrCreate()

In [3]:
%time df = spark.read.csv("/user/spark/share/splitdata.csv",header=True)

CPU times: user 2.26 ms, sys: 909 Âµs, total: 3.17 ms
Wall time: 9.39 s

In [15]:
df.createOrReplaceTempView('behavior')

In [58]:
for col in df:
    print(df.filter(isnull(col)).count(),"----->",col)

0 -----> Column<b'user'>
0 -----> Column<b'time_stamp'>
0 -----> Column<b'btag'>
0 -----> Column<b'cate'>
0 -----> Column<b'brand'>
0 -----> Column<b'user_cate'>

In [31]:
spark.sql('select count(*) from behavior where btag = "pv" and user_cate ="543083_6261"').show()

+--------+
|count(1)|
+--------+
|     870|
+--------+

In [60]:
# df.select('user_cate')
%time spark.sql('select user_cate , count(*) as pv1 from behavior where btag = "pv" group by user_cate').show()

+-----------+---+
|  user_cate|pv1|
+-----------+---+
|543083_6261|870|
+-----------+---+

CPU times: user 32.5 ms, sys: 3.52 ms, total: 36.1 ms
Wall time: 3min 42s

In [62]:
# df.select('user_cate')
%time spark.sql('select user_cate , count(*) as pv1 from behavior group by user_cate').count()

CPU times: user 13.4 ms, sys: 4.36 ms, total: 17.7 ms
Wall time: 2min 14s

57259092

In [5]:
df.columns

['user', 'time_stamp', 'btag', 'cate', 'brand', 'user_cate']

In [11]:
df.select('user_cate').distinct().count()

57259092

In [10]:
df.select('user_cate').distinct().show()

+------------+
|   user_cate|
+------------+
| 653909_8285|
| 578152_6428|
| 144558_6261|
| 916681_6439|
| 456089_6807|
|1046905_4505|
|  329657_856|
|370335_11606|
| 401739_4280|
|153318_11740|
|  163180_856|
|  753765_856|
|911674_11635|
|286898_11447|
| 356482_5299|
|1042482_6261|
|1081493_6410|
| 590029_4280|
| 617197_4283|
| 141351_6734|
+------------+
only showing top 20 rows

In [ ]:
df1 = spark.sql("select * from behavior where time_stamp < 1493424000")

In [ ]:
df1 = spark.sql("select * from behavior where time_stamp < 1493424000")

In [ ]:
df2 = spark.sql("select * from behavior where time_stamp between 1493424000 and 1494028800")

In [ ]:
df3 = spark.sql("select * from behavior where time_stamp > 1494028800")

In [ ]:
df.count()

In [ ]:
df.columns

output df1

In [ ]:
df1 = df1.stat.crosstab("user_cate","btag")

In [ ]:
df1 = df1.selectExpr("user_cate_btag as user_cate","buy as buy_1","cart as cart_1","fav as fav_1","pv as pv_1" )

In [ ]:
%time df1.write.csv("hdfs:///user/spark/share/output/table_2/cross/cross_1",header="true")

output df2

In [ ]:
df2 = df2.stat.crosstab("user_cate","btag")

In [ ]:
df2 = df2.selectExpr("user_cate_btag as user_cate","buy as buy_2","cart as cart_2","fav as fav_2","pv as pv_2" )

In [ ]:
%time df2.write.format("csv").save("/user/spark/share/output/table_2/cross/cross_2",header="true")

output df3

In [ ]:
%time df3 = df3.stat.crosstab("user_cate","btag")

In [ ]:
df3 = df3.selectExpr("user_cate_btag as user_cate","buy as buy_3","cart as cart_3","fav as fav_3","pv as pv_3" )

In [ ]:
%time df3.write.format("csv").save("/user/spark/share/output/table_2/cross/cross_3",header="true")