In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("yarn").config('spark.executor.instances','100').appName("chiang_ct").getOrCreate()

In [ ]:
%time df = spark.read.csv("/user/spark/share/splitdata.csv",header=True)

In [ ]:
df.createOrReplaceTempView('behavior')

In [ ]:
df_user_cate = spark.sql("select distinct user_cate from behavior")

In [ ]:
user_cate.select('user_cate').distinct().count() #just checking

In [ ]:
df1 = spark.sql("select * from behavior where time_stamp < 1493424000")

In [ ]:
df1.createOrReplaceTempView('behavior_1')

In [ ]:
%time df_pv1 = spark.sql('select user_cate as user_cate_pv1, count(*) as pv_1 from behavior_1 where btag = "pv" group by user_cate')
%time df_cart1 = spark.sql('select user_cate as user_cate_cart1, count(*) as cart_1 from behavior_1 where btag = "cart" group by user_cate')
%time df_fav1 = spark.sql('select user_cate as user_cate_fav1, count(*) as fav_1 from behavior_1 where btag = "fav" group by user_cate')
%time df_buy1 = spark.sql('select user_cate as user_cate_buy1, count(*) as buy_1 from behavior_1 where btag = "buy" group by user_cate')

In [ ]:
%time df_pv1.show() #just checking

In [ ]:
%time print(df_pv1.count()) #just checking

In [ ]:
print(df1.select('user_cate').distinct().count()) #just checking

In [ ]:
df1.count()

In [ ]:
print(df_pv1.select('user_cate_pv1').distinct().count()) #just checking
print(df_cart1.select('user_cate_cart1').distinct().count()) #just checking
print(df_fav1.select('user_cate_fav1').distinct().count()) #just checking
print(df_buy1.select('user_cate_buy1').distinct().count()) #just checking

In [ ]:
23029460 + 2828237 +1591969 +1843781 - 23296422

### join to cross_table1

In [ ]:
#join to crosstable for table 2 with time interval 1 (2017/04/21 00:00:00 to 2017/04/29 00:00:00)
tb2_cross_1 = df_user_cate.join(df_pv1,(df_user_cate.user_cate == df_pv1.user_cate_pv1) ,'outer')
tb2_cross_1 = tb2_cross_1.join(df_cart1,(tb2_cross_1.user_cate == df_cart1.user_cate_cart1) ,'outer')
tb2_cross_1 = tb2_cross_1.join(df_fav1,(tb2_cross_1.user_cate == df_fav1.user_cate_fav1) ,'outer')
tb2_cross_1 = tb2_cross_1.join(df_buy1,(tb2_cross_1.user_cate == df_buy1.user_cate_buy1) ,'outer')

In [ ]:
tb2_cross_1.columns #just for check

In [ ]:
tb2_cross_1.show(1)

In [ ]:
tb2_cross_1.createOrReplaceTempView('tb2_cross_1')

In [ ]:
%time spark.sql("select sum(pv_1) as sum_pv1, sum(cart_1) as sum_cart1, sum(fav_1) as sum_fav1, sum(buy_1) as sum_buy1 from tb2_cross_1").show()

In [ ]:
202899898 + 4737124+2776525+2631753

In [ ]:
%time tb2_cross_1.write.csv("hdfs:///user/spark/share/output/table2/cross/cross_1",header="true")

### join to cross_table2

In [ ]:
df2 = spark.sql("select * from behavior where time_stamp between 1493424000 and 1494028800")

In [ ]:
df2.createOrReplaceTempView('behavior_2')

In [ ]:
%time df_pv2 = spark.sql('select user_cate as user_cate_pv2, count(*) as pv_2 from behavior_2 where btag = "pv" group by user_cate')
%time df_cart2 = spark.sql('select user_cate as user_cate_cart2, count(*) as cart_2 from behavior_2 where btag = "cart" group by user_cate')
%time df_fav2 = spark.sql('select user_cate as user_cate_fav2, count(*) as fav_2 from behavior_2 where btag = "fav" group by user_cate')
%time df_buy2 = spark.sql('select user_cate as user_cate_buy2, count(*) as buy_2 from behavior_2 where btag = "buy" group by user_cate')

In [ ]:
tb2_cross_1.columns

In [ ]:
#join to crosstable for table 2 with time interval 2
tb2_cross_all = tb2_cross_1.join(df_pv2,(tb2_cross_1.user_cate == df_pv2.user_cate_pv2) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_cart2,(tb2_cross_all.user_cate == df_cart2.user_cate_cart2) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_fav2,(tb2_cross_all.user_cate == df_fav2.user_cate_fav2) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_buy2,(tb2_cross_all.user_cate == df_buy2.user_cate_buy2) ,'outer')

In [ ]:
tb2_cross_all.columns

## join to cross_table 3

In [ ]:
df3 = spark.sql("select * from behavior where time_stamp > 1494028800")

In [ ]:
df3.createOrReplaceTempView('behavior_3')

In [ ]:
%time df_pv3 = spark.sql('select user_cate as user_cate_pv3, count(*) as pv_3 from behavior_3 where btag = "pv" group by user_cate')
%time df_cart3 = spark.sql('select user_cate as user_cate_cart3, count(*) as cart_3 from behavior_3 where btag = "cart" group by user_cate')
%time df_fav3 = spark.sql('select user_cate as user_cate_fav3, count(*) as fav_3 from behavior_3 where btag = "fav" group by user_cate')
%time df_buy3 = spark.sql('select user_cate as user_cate_buy3, count(*) as buy_3 from behavior_3 where btag = "buy" group by user_cate')

In [ ]:
df_pv3.columns

In [ ]:
#join to crosstable for table 2 with time interval 3
tb2_cross_all = tb2_cross_all.join(df_pv3,(tb2_cross_all.user_cate == df_pv3.user_cate_pv3) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_cart3,(tb2_cross_all.user_cate == df_cart3.user_cate_cart3) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_fav3,(tb2_cross_all.user_cate == df_fav3.user_cate_fav3) ,'outer')
tb2_cross_all = tb2_cross_all.join(df_buy3,(tb2_cross_all.user_cate == df_buy3.user_cate_buy3) ,'outer')

In [ ]:
tb2_cross_all.columns

In [ ]:
%time tb2_cross_all.write.csv("hdfs:///user/spark/share/output/table2/cross/tb2_cross_all",header="true")